@interactivestudios:registry=https://gitlab.interactivestudios.nl:4873
@fortawesome:registry=https://gitlab.interactivestudios.nl:4873
@ias-react-components:registry=https://gitlab.interactivestudios.nl:4873
registry=https://registry.npmjs.org
